extend layout/layout
block content
    div(data-role='fieldcontain')
      fieldset(data-role='controlgroup')        
          p 
             h3 ..Ooops!! Ha ocurrido un error en el sistema :( 
            span Detalle: 
            div.errorDiv
              p
                span #{detalleError}
    div(data-role='fieldcontain')   
      a(class='linkButton', href='/') Volver al inicio