extend layout/layout
block content
  form(action='/',method='get')
    div(data-role='fieldcontain')
      fieldset(data-role='controlgroup')        
          p 
             h3 ..Ooops!! Ha ocurrido un error en el sistema :( 
            span Detalle: 
            div.errorDiv
              p
                span #{detalleError}
    div(data-role='fieldcontain')   
      input(type='submit',value='Volver al Inicio',data-transition='fade', data-theme='c')