extend ../layout/main-layout
block content
  form(action='/logon',method='post')
    div
      a(class='linkButton', href='/usuario/crear') Crear Nuevo
        br
        br
      table.lista
        thead
          tr
            th Nombre de Usuario
            th Nombre Completo
            th Rol              
        tbody
          each user, i in userObjList
            tr
              td 
                span #{user.username}
              td 
                span #{user.nombre}
              td
                span #{user.role}

