extend ../layout/main-layout
block content
  form(action='/finanza/editarDato',method='post')
    div(data-role='fieldcontain')
      fieldset(data-role='controlgroup')        
          label(for='nombrePersona') Nombre Persona:
          p
           input(id='hdnIdFinanza', type='hidden', name='id', value='#{datosObj._id}')
           input(id='txtNombrePersona',type='text',value='#{datosObj.nombrePersona}',placeholder='Nombre de Persona',name='nombrePersona',required='required')
    div#passworddiv(data-role='fieldcontain')
      fieldset(data-role='controlgroup')
          label(for='fchMovimiento') Fecha Movimiento:
          p
           input(id='txtFchMovimiento',type='date',value='2016-01-01',placeholder='Fecha Movimiento',name='fchMovimiento',required='required')
    div(data-role='fieldcontain')
      fieldset(data-role='controlgroup')        
          label(for='saldoMovimiento') Saldo Movimiento:
          p
           input(id='txtSaldoMovimiento',type='number',value='#{datosObj.saldoMovimiento}',placeholder='Saldo Movimiento',name='saldoMovimiento')
    div(data-role='fieldcontain')   
      input(type='submit',value='Guardar',data-transition='fade', data-theme='c')
      br
      a(class='linkButton', href='/recursohumano/lista') Volver