doctype
html
  head
    title #{title} - Lab02
    link(rel='stylesheet', href='/stylesheets/layout.css')
  body
    header
      h1 #{pageTitle}
    .container
      .main-content
        div
          p.errorMessage #{errorMessage}

        block content
      .sidebar
        block sidebar
    footer
      p Corriendo en Node.js junto con Express, Jade y Stylus