doctype
html
  head
    title #{title} - Lab02
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header
      h1 #{pageTitle}
      div.logInfo
        table
          tr
            td
              | Bienvenido(a): 
              span #{username}
            td
              a(href="{logoutUrl}") Salir
    .container
      .menu
        block menu
      .main-content
        div #{errorMessage}
        block content
      .sidebar
        block sidebar
    footer
      p Corriendo en Node.js junto con Express, Jade y Stylus